@import './fonts'
@import './variables'


*
    margin: 0
    padding: 0

ul
    list-style: none

header
    font-family: 'Dancing Script', cursive
    position: fixed
    width: 100%
    height: 60px
    padding: 8px 15px 0px 15px
    border-bottom: 1px solid $lineColor
    background-color: #fff

.left-nav-bar
    width: 220px
    padding-top: 80px
    border-right: 1px solid $lineColor
    // height: 1000px

    .nav-container
        font-family: 'Crete Round', sans-serif
        padding: 15px 15px 0px 14px

    .nav-categoty-item
        font-size: 20px
        padding: 8px

        .fa-angle-right
            padding-right: 10px
            transform-origin: left
            animation: dropdown 2s linear




@keyframes dropdown
    0%
        transform: rotateZ(0deg)
    100%
        transform: rotateZ(90deg)