@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.to-show {
    display: none;
}
.to-hover:hover > .to-show {
    display: block;
}

// Custom.scss
// Option A: Include all of Bootstrap

@import "/node_modules/bootstrap/scss/bootstrap.scss";

// Add custom code after this
