.to-show {
    display: none;
    color: #fff;
}
.to-show a:hover{
    color: #46a5d1 !important;
    text-underline-offset: none;
}
@media (min-width: 1199.98px) {  
    .to-hover:hover > .to-show {
        display: block;
    }
}
.custom-dropdown {
    width: 100%;
}
.custom-topmenu {
    background: #032233;
    border-bottom: 1px solid #1d3948;
    font-size: 12px;
}
.custom-topmenu-link {
    border-right: 1px solid #1d3948;
    line-height: 40px;
}
.custom-topmenu-link > a:hover {
    color: #46a5d1;
}
.custom-topmenu-link-first-element {
    border-left: 1px solid #1d3948;
}
.promo {
    background: #021824;
}

.promo:after {
    content: "";
    display: block;
    position: absolute;
    height: 39px;
    width: 18px;
    background: url(/assets/images/i-exclamation-mark.png) no-repeat left top;
}
input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
    }
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
.border-left-none{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    position: absolute;
    right: 0px;
    top: 25px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    background: url(/assets/images/socikon.png);
    background-position: 0 -127px;
    background-repeat: no-repeat;
    width: 42px;
    height: 36px;
}
$colors: #2ecc71,#476380,#f39c12,#2ecc71,#3498db,#9b59b6,#d35400,#c0392b,#46a5d1;
$colors-margin-left: 29px,18px,19px,22px,3px,14px,20px,23px,1px;

@for $i from 1 through length($colors) {
    $c: nth($colors, $i);
    $mleft:nth($colors-margin-left, $i);
    @media (min-width: 1199.98px) { 

        .to-hover:hover .arrow-#{$i}:before {
            position: absolute;
            top: 40px;
            display: block;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 15px solid $c;
            content: '';
            z-index: 3;
            margin-left:$mleft;
        }
    }
    .main-menu-item-border-#{$i} {
        border-top: 2px solid $c;
        border-right: 1px solid #1d3948;
        font-size:14px;
        line-height: 40px;
    }
    .main-menu-item-border-#{$i} > .to-hover:hover   {
        background-color: $c;
        font-size:14px;
        line-height: 40px;
    }
}

.card{
    border:none !important;
}
h6 { 
    color:#fff;
    font-size: 13px !important;
}

// Custom.scss
// Option A: Include all of Bootstrap

@import "/node_modules/bootstrap/scss/bootstrap.scss";

// Add custom code after this
