.to-show {
    display: none;
}
.to-hover:hover > .to-show {
    display: block;
}
.custom-dropdown {
    width: 100%;
}

// Custom.scss
// Option A: Include all of Bootstrap

@import "/node_modules/bootstrap/scss/bootstrap.scss";

// Add custom code after this
