extends base


block content
    div.container
        div.container-top
            div.search-bar
                input.search-field(placeholder="Search...")
                span.search-btn Search
        div.container-bottpm