- var n = 0
- var m = [1, 2, 3, 4, 5]


div.left-nav-bar
    ul.nav-container
        each i in m
            li.nav-categoty-item
                div.nav-category-title
                    i.fa.fa-angle-right
                    span Category #{i}

                    //- ul.sub-category-items
                    //-     while n<5
                    //-         - n++
                    //-         li.sub-category-item
                    //-             span Item #{n}
                    //-     - n=0
