div.left-nav-bar
    ul.nav-container
        li.nav-categoty-item
            div.category-section
                i.fa.fa-angle-right
                span Category 1
        li.nav-categoty-item
            div.category-section
                i.fa.fa-angle-right
                span Category 2
